footer.footer(role="contentinfo")
  h1 Don't be a stranger!

  div(itemtype='http://schema.org/Person')
    p I would love to hear from you. If you want, contact me using one of the following options:

    .contacts
      a(href='mailto:francisco@baiodias.com' itemprop='email') francisco@baiodias.com

  != partial("social-buttons")
