.section.intro
  .container
    .col-sm-4.col-lg-3
      img(src="/images/francisco.jpg")

    .text.col-sm-8.col-lg-9
      != partial("texts/intro")

.section.robots
  .opacity
    .container
      .text.col-sm-8.col-lg-9
        != partial("texts/robots")
      .media.col-sm-4.col-lg-3
        img(src="/images/artica.png")

.section.livebots
  .opacity
    .container
      .text.col-sm-8.col-lg-9
        != partial("texts/livebots")
      .media.col-sm-4.col-lg-3
        //- iframe(width="320" height="180" src="https://www.youtube.com/embed/5JoARkj7XMA" frameborder="0" allowfullscreen)
        img(src="/images/livebots.png")

.section.sinfo
  .opacity
    .container
      .text.col-sm-8.col-lg-9
        != partial("texts/sinfo")
      .media.col-sm-4.col-lg-3
        img(src="/images/sinfo.png")

.section.muzzley
  .opacity
    .container
      .text.col-sm-8.col-lg-9
        != partial("texts/muzzley")
      .media.col-sm-4.col-lg-3
        img(src="/images/muzzley.png")

.section.yld
  .opacity
    .container
      .text.col-sm-8.col-lg-9
        != partial("texts/yld")
      .media.col-sm-4.col-lg-3
        img(src="/images/yld.svg")

.section.brave-bunny
  .opacity
    .container
      .text.col-sm-8.col-lg-9
        != partial("texts/brave-bunny")
      .media.col-sm-4.col-lg-3
        img(src="/images/brave-bunny.png")
