* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 100;
  font-family: $font-family-base;
  background: $color-background;
  color: $color-text;
  line-height: $line-height-base;
  font-variant: normal;
  margin: 0;
  padding: 0;
}

a, a:visited {
  // text-decoration: none;
  color: $color-link;
  transition: color 0.1s ease-in-out;
  &:hover, &:focus {
    color: $color-link-hover;
  }
  &:active {
    color: $color-link-active;
  }
}

header, h1, h2, h3, h4, h5 {
  font-family: $font-family-base;
  line-height: 1.05;
  margin: 0;
  font-weight: 400;
}

header.header {
  display: block;
}

/* Web Fonts */

.wf-loading {
  visibility: hidden;
}

.wf-active,
.wf-inactive {
  visibility: visible;
}

/* Typogr.js */

.sc {
  font-family: "source-sans-pro-sc", $font-family-base;
  text-transform: lowercase;
  font-feature-settings: "smcp" 1, "c2sc" 1, "cpsp" 1;
}

/* Footer */

.return {
  margin-top: 2em;
  display: inline-block;
  padding: 1em;
  margin-left: -1em;
}

.section {
  font-size: 26px;
  font-weight: 300;
  // padding: 32px;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.footer {
  @extend .section;
  text-align: center;
  font-size: 20px;
  padding: 32px;

  .social-buttons {
    font-size: 64px;
    margin: 0px
  }

  a {
    color: white;
    margin: 0 10px;
    opacity: 0.9;
    display: inline-block;

    &:active,
    &:hover,
    &:focus {
      color: white;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.opacity {
  background-color: rgba(0, 0, 0, 0.7);
}

.not-found {
  text-align: center;
  padding: 60px 0;
}

.intro {
  background-image: url("/images/intro-background.jpg");
  padding: 32px;

  .text {
    padding-top: 20px;
  }

  img {
    border-radius: 50%;
    padding: 20px 10px;
  }
}

.section .media {
  padding: 30px;
  text-align: center;

  img {
    width: 100%;
    max-width: 260px;
  }
}

.robots {
  background-image: url("/images/robots-background.jpg");
  background-position-y: 80%;

  .opacity {
    background-color: rgba(50, 50, 0, 0.7);
  }
}

.livebots {
  background-image: url("/images/livebots-background.jpg");

  .opacity {
    background-color: rgba(0, 50, 0, 0.7);
  }
}

.sinfo {
  background-image: url("/images/sinfo-background.jpg");

  .opacity {
    background-color: rgba(0, 0, 50, 0.7);
  }
}

.muzzley {
  background-image: url("/images/muzzley-background.jpg");

  .opacity {
    background-color: rgba(50, 0, 0, 0.8);
  }

  .media img {
    width: 80%;
  }
}

.yld {
  background-image: url("/images/yld-background.jpg");

  .opacity {
    background-color: rgba(50, 0, 50, 0.5);
  }

  .media img {
    width: 80%;
  }
}

.brave-bunny {
  background-image: url("/images/brave-bunny-background.jpg");
  background-position-y: 20%;

  .opacity {
    background-color: rgba(0, 50, 0, 0.7);
  }

  .media img {
    width: 70%;
  }
}
